body{
	font-family: Arial;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.registration-container{
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 400px;
}
h2{
	text-align: center;
	margin-bottom: 20px;
}
form label{
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
form input{
	width: 94%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 14px;
}
form button{
	width: 100%;
	padding: 10px;
	background-color: blue;
	color: black;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
form button:hover{
	background-color: red;
}